@using DataAccess.Models.BreadCrumbs
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication3.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
    <button id="sidebarToggle" class="btn btn-dark">
        <i class="fa fa-bars"></i>
    </button>
    <header id="sidebar" class="sidebar-open">
        <div class="sidebar-top">
            <div class="logo">
                <i class="fa-regular fa-folder fa-2x"></i>
                <h4>Project management</h4>
            </div>
        </div>
        <nav>
            <ul>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="AddProject" asp-action="Index">Add project</a>
                    </li>
                }
            </ul>
        </nav>
    </header>
    <main role="main" id="content">
        <div id="topbar">
            <nav class="topbar-nav">
                <ol class="breadcrumbs">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    @if(ViewData["Breadcrumbs"] != null)
                    {
                        var breadcrumbs = ViewData["Breadcrumbs"] as List<BreadCrumbsModel>;

                        foreach(var item in breadcrumbs)
                        {
                            if (item.IsActive)
                            {
                                <li>
                                    <a href="@Url.Action(item.Action,item.Controller)">@item.Name</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.Action(item.Action,item.Controller)">@item.Name</a>
                                </li>
                            }
                        }
                    }
                </ol>
                @if (User.Identity.IsAuthenticated)
                {
                    <button>
                        <a asp-controller="Home" asp-action="LogOut">Log out</a>
                    </button>
                }
                else
                {
                    <button>
                        <a asp-controller="Home" asp-action="LogIn">
                            Log in
                        </a>
                    </button>
                }
            </nav>
            <h3>@ViewData["Title"]</h3>
        </div>
        @RenderBody()
    </main>
    @*     <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - WebApplication3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        // Obsługa przycisku hamburgera do otwierania i zamykania sidebaru
        document.getElementById('sidebarToggle').addEventListener('click', () => {
            const sidebar = document.getElementById('sidebar')
            const sidebarToggle = document.getElementById('sidebarToggle')

            if(sidebar.classList.contains('sidebar-closed')){
                sidebar.classList.remove('sidebar-closed')
                sidebar.classList.add('sidebar-open')
                
            }else{
                sidebar.classList.remove('sidebar-open')
                sidebar.classList.add('sidebar-closed')
            }
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
